doctype html
html(ng-app="orientame")
  base(href='/')
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='wraper')
      include partials/_header.pug
    
    div(class="container-fluid")
      block content
      

    block append head
      script(src="bower_components/jquery/dist/jquery.js")
      script(src="javascripts/plugins/dualListbox/jquery.bootstrap-duallistbox.js")
      script(src="bower_components/bootstrap-duallistbox/src/jquery.bootstrap-duallistbox.js")
      script(src="bower_components/angular/angular.js")
      script(src="bower_components/bootstrap/dist/js/bootstrap.js")
      script(src="bower_components/angular-bootstrap-duallistbox/dist/angular-bootstrap-duallistbox.js")
      script(src="bower_components/angular-route/angular-route.js")
      script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
      script(src="app.config.js")
      script(src="views/resumen/resumen.module.js")
      script(src="views/resumen/resumen.component.js")
      
      
      
      
      
    