<div class="row" ng-hide="!hide">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5 id="test">Ingresa tus datos.</h5>
            </div>
            <div class="ibox-content">
              <form>
                <div class="form-group">
                  <label for="txtLicenciatura">Elige una licenciatura:</label>
                  <select class="form-control" id="txtLicenciatura" ng-model="txtLicenciatura">
                    <option ng-repeat="lic in licenciaturas" value="{{lic.id}}">{{lic.dato}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-3">
                      <label for="example-text-input" class="col-form-label">¿Actualmete trabajas?</label><br>
                      <label class="custom-control custom-radio">
                        <input id="radio1" name="radio" type="radio" class="custom-control-input" value="1" ng-model="trabaja" ng-change="cambiaEstatusTrabaja()">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Si</span>
                      </label>
                      <label class="custom-control custom-radio">
                        <input id="radio2" name="radio" type="radio" class="custom-control-input" value="0" ng-model="trabaja" ng-change="cambiaEstatusTrabaja()">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">No</span>
                      </label>  
                    </div>
                    <div class="col-md-3" ng-hide="trabaja==0">
                      <label for="cboHoras">¿Cuántas horas al día?</label>
                      <select 
                              class="form-control"
                              ng-init="horasTrabajo = horas[0].id" 
                              ng-model="horasTrabajo" 
                              ng-options="opt.id as opt.dato for opt in horas">
                      </select>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success" ng-click="enviarDatosAlumno()" ng-disabled="txtLicenciatura=='0'">Enviar</button>
              </form>
            </div>
        </div>
    </div>
</div>
<!--div class="row" ng-hide="hide">
    <div class="col-lg-12">
        <div class="white-box analytics-info">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{txtLicenciatura}}</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Cantidad</th>
                            <th>Créditos</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Materias Cursadas</td>
                            <td>15</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <td>Materias por Cursar</td>
                            <td>45</td>
                            <td>156</td>
                        </tr>
                        <tr>
                            <td>Materias Reprobadas</td>
                            <td>3</td>
                            <td>11</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div-->
<div class="row" ng-hide="hide">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>{{ instrucciones }}</h5>
            </div>
            <div class="ibox-content">
                <form action="#" id="form" class="wizard-big">
                    <div class="form-group">
                        <!--select class="form-control" multiple bs-duallistbox style="display: none;" ng-model="materiasElegidas"-->
                        <select 
                            class="dual_select"    
                            ng-options="opt as opt.nombre for opt in materiasDisponibles"
                            multiple
                            ng-model="materiasElegidas"
                            bs-duallistbox
                            ng-change="updateCreditos()"
                            ng-disabled="materiasElegidas.length==0" >
                        </select>
                    </div>
                </form>
                <div class="row">
                  materias: {{numMaterias}}
                  creditos: {{creditos}}
                </div>
                <div class="row">
                  <div class="form-group">
                      <button type="button"
                        class="btn btn-success btn-lg btn-block"
                        ng-click="evaluar()"
                        ng-disabled="materiasElegidas.length==0 && primeraSeleccion" >{{btnTexto}}</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var dual_select = $('.dual_select').bootstrapDualListbox({
            selectorMinimalHeight: 360,
            showFilterInputs: false,
            infoText: false,
            filterTextClear: false
        });
        
        $('.moveall').hide();
        $('.removeall').hide();
        $('label[for="bootstrap-duallistbox-nonselected-list_"]').show();
        $('label[for="bootstrap-duallistbox-selected-list_"]').show();
    });
</script>